{% extends 'bootstrap/base.html' %}

{% block  title%}
    {{ title }}
{% endblock title %}

{% block navbar %}
    <div class="container">
        <a href="{{ url_for('.list') }}" class="btn btn-primary">Listado General</a>
    </div>
   
{% endblock navbar %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form action="" method="POST" enctype="multipart/form-data" >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" class="form-control" id="">
                </div>

                <div class="form-group">
                    <label for="matricula">Matrícula</label>
                    <input type="text" name="matricula" class="form-control" id="">
                </div>

                <div class="form-group">
                    <label for="turno">Turno</label>
                    <input type="text" name="turno" class="form-control" id="">
                </div>

                <div class="form-group">
                    <label for="unidad">Unidad Adscripción</label>
                    <input type="text" name="unidad" class="form-control" id="">
                </div>

                <div class="form-group">
                    <label for="img">Imagen</label>
                    <input type="file" name="img" class="form-control" id="">
                </div>

                <input type="submit" value="submit" class="btn btn-primary">
            
            </form>
        </div>
    </div>
</div>
{% endblock content %}